@model SimpleTaskScheduler.Models.SchedulerViewModel
    @{ 
        int Day = 1, Slot=1;
    }
  <br /> 
<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <h3>Schedule</h3>
            <ul>
                @foreach (var item in Model.Schedules)
                {
                    <li>
                        <strong>Day:@(Day++)</strong>
                        <ul>
                            @foreach (var slot in item.AvailableSlot)
                            {
                                <li>
                                    Slot: @(Slot++)
                                    <span>Start: <strong>@slot.StartTime</strong>, End: <strong>@slot.EndTime</strong></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-12">
            <h3>Topics</h3>
            <ol>
                @foreach (var item in Model.Tasks)
                {
                    <li><h4>@item.Title</h4> - Duration: @item.Duration mins, When: @item.ScheduledTime.StartTime to @item.ScheduledTime.EndTime</li>
                }
            </ol>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-12">
            <h3>Plan</h3>
            <ol>
                @foreach (var item in Model.InputTasks)
            {
                    <li>@item.Title - @item.Duration mins</li>
                }
            </ol>
        </div>
    </div>
    
</div> 